/* 
Theme Name: Portal Gustav Ritter
Theme URI:
Description: Portal do Instituto de Educação em Artes prof Gustav Ritter
Author: Laura
Version: 1.0
*/
body{
	padding: 0;
	margin: 0;
	font-size: 1.8em;
}

/* Menu */

li{
	display: inline;
	width: 100%;
	padding: 8px;
}

li a{
	font-family: 'Cormorant Garamond', serif;
	font-weight: 600;
	color: #6d6d6d;
}

li a:hover{
	color: #6d6d6d;
	text-decoration: none;
}

.menu-principal ul{
	border-top: 1px solid #6d6d6d;
	border-bottom: 1px solid #6d6d6d;
	display: flex;
	justify-content: space-between;
}

.current_page_item{
	background: #fbd541;
	text-align: center;
}

/* Núcleos */
.sessao{
	margin-top: 18px;
	border-top: 1px solid #f7ce30;
	text-align: center;
	
}

.title{
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	color: #c40007;
	margin: 0 auto;
	margin-bottom: 18px;
	position: relative;
	top: -13px;
	background: #fff;
	display: inline-block;
	padding: 5px;
}

.nucleos img{
	margin: 0 auto;
}

.post{
	text-align: left;
}

.noticia img{
	margin: 0 auto;
}

.tv h4{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #463833;
	text-align: left;
}

.tv p{
	color: #694d41;
	font-weight: lighter;
}

p {
	text-align: left;
}

.custom-botao{
	display: block;
	padding: 10px;
	background-color: #5bb85d;
	color: #fff;
	text-decoration: none;
	width: 152px;
	border-radius: 5px;
	margin-top: 20px;
}

.custom-botao:hover{
	color: #fff;
	text-decoration: none;
}

.page-title{
	font-family: 'Cormorant Garamond', serif;
}

.page-title p{
	text-align: right;
	margin: 5px;
	position: relative;
}

.page-main img{
	float: left;
	margin-right: 1em;
}

.date{
	font-family: 'Bubbler One', sans-serif;
	font-weight: lighter;
}

.gallery-icon{
	display: inline-block;
}